body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fffde7;
    color: #000;
}

/* PROFIL */
.kartu-profil {
    text-align: center;
    padding: 30px 15px;
}

.kartu-profil img {
    width: 120px;
    border-radius: 50%;
}

.kartu-profil h1 {
    font-size: 20px;
    margin: 10px 0;
}

.kartu-profil p {
    font-size: 14px;
}

.link-sosial a {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 14px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 6px;
}

/* KARYA */
.karya {
    padding: 10px;
}

.karya h2 {
    text-align: center;
    margin: 20px 0;
}

/* URUT KE BAWAH, FULL LEBAR */
.karya-card {
    margin-bottom: 30px;
}

.karya-card h3 {
    margin: 5px 0;
    font-size: 15px;
}

.karya-card iframe {
    width: 100%;
    height: 60vw; /* BIAR GEDE */
    border: 1px solid #ccc;
}
